<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <table width:210>
                <col width="90">
                <col width="20">
                <col width="30">
                <col width="30">
                <tr>
                    <th>Statistic</th>
                    <th>Value</th>
                    <th>Roll</th>
                    <th>Damage</th>
                </tr>
                {{#each data.stats}}
                <div class="resource">
                    <tr>
                        <td>  {{@key}}</td> 
                        <td>
                            <input type="text" name="data.stats.{{@key}}.value" value="{{value}}" data-dtype="Number" min_width="15">
                        </td>
                        <td style="text-align:center"> {{d8}}D8+{{plus}}  </td>
                        <td>
                            <input type="text" name="data.stats.{{@key}}.damage" value="{{damage}}" data-dtype="Number">
                        </td>
                    </tr>
                </div>
                {{/each}}
            </table>
        </div>
        {{!-- Biography Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
</div>
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>